

<h1>About Us</h1>
<p>
  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  is my work in progress that is goign to let me play around with rails
  so that I can get the hang of it.  I'm going to put up a separate app later.
</p>

